
@media screen and (min-width:1140px){
  .header__logo{
    width: 400px;
    height: 59px;
    margin-left: 20px;
    margin-top:10px;
    margin-bottom: 20px;
    content: url("/images/Logo-construtec-movil.png");
  }

  /*------------------HEADER----------------*/
  header{
    height: 545px;
  }
  
  .header__slider{
  grid-template: 100px 90px 60px 60px 50px/50% 50% ;
  grid-template-areas: "title imagen"
                      "subtitle imagen"
                      "textQuestion imagen"
                      "texto imagen"
                      "button imagen";
  height: 385px;
  margin-top: 77px;
  }
  .header__slider h1{
    padding-top:7px;
    width: 250px;
    font-size: 2.8rem;
    line-height: 3.0rem;
    background:var(--just-white);
  }
  .header__slider h2{
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  .header__slider-textQuestion{
    grid-area: textQuestion;
    Display:block;
    padding: 0px 20px 0px 20px;
    font-size: 1.7rem;
    font-weight: bold;
    font-weight: 500;
    line-height: 2.0rem;
    color: var(--just-white);
  }
  .header__slider-text{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.0rem;
  }

  .header__slider-imagen{
    margin-top: 50px;
    width: 480px;
    height: 320px;
    content: url("/images/Imagen-laptop-Cpip-p1.png");
  }
  .header__slider-imagenTwo{
    margin-top: 50px;
    width: 480px;
    height: 300px;
    content: url("/images/SmartPhone-Sespo-web.png");
  }
  .header__slider .header__slider-button{
    position: static;
    display: block;
    margin: auto;
  }
  /*------------------MAIN CPIP----------------*/
  .cpipMain{
    grid-template-columns: 60% 40%;
    grid-template-areas: "description-cpip banner-cpip";
    padding-left:150px;
    padding-right: 100px;
    height: 380px;
}
  .cpipMain__banner{
    width: 408px;
    height: 300px;
    background-image: url('/images/Banner-cpip-web.png');
    margin-right: 0px;
  }

/*------------------BENEF CPIP----------------*/
  .Benef__container-cards{
    display: flex;
    padding-left:calc(450px - 3 * 120px);
    padding-right: calc(450px - 3 * 120px);
  }
  .Benef__card{
    width: 240px;
    min-width: 240px;
    height: 310px;
  }
  .Benef__card article{
    margin-top: 30px;
    grid-template-columns: 100%;
    grid-template-areas: "icon-benef-cpip"
                          "title-benef-cpip"
                          "description-benef-cpip ";
  }
  .Benef__card--title{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .Benef__card .time{
    width: 60px;
    height: 60px;
    background-image: url("/images/icons8-clock-100.png");
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .Benef__card .safe{
    width: 60px;
    height: 60px;
    background-image: url("/images/icons8-data-quality-100.png");
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .Benef__card .organization{
    width: 60px;
    height: 60px;
    background-image: url("/images/icons8-folder-100.png");
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .Benef__card--information{
    display: block;
    text-align: center;
  }
 /* ------------------------INFORMATION CPIP------------------------ */
  .cpipInformation__container-video{
    grid-template-columns: 70% 30%;
    grid-template-areas: "fm-video-cpip plansCpip-container-slider";
  }
  .cpipInformation__client p{
    text-align: start;
  }
  .cpipInformation__video{
    width: 700px;
    height: 400px;
  }
  .sespoInformation__client{
    align-items: center;
  }
/* ------------------------BUY CPIP------------------------ */
.cpipBuy{
  align-items: center;
}
.cpipBuy__cards{
  justify-content: center;
}
.sespoBuy__card-container{
  margin:50px 50px 0;
}

  /*------------------MAIN SESPO----------------*/
  .sespoMain{
    grid-template-columns: 50% 50%;
    grid-template-areas: " banner-sespo description-sespo";
    padding-left:50px;
    padding-right: 50px;
}
  .sespoMain__banner{
    width: 270px;
    height: 358px;
    background-image: url('/images/banner-sespo-web.png');
  }
/*------------------BENEF SESPO----------------*/
  .sespoBenef__container-cards{
    display: flex;
    padding-left:calc(450px - 3 * 120px);
    padding-right: calc(450px - 3 * 120px);
  }
  .sespoBenef__card{
    width: 240px;
    min-width: 240px;
    height: 310px;
  }
  .sespoBenef__card article{
    margin-top: 30px;
    grid-template-columns: 100%;
    grid-template-areas: "icon-benef-sespo"
                          "title-benef-sespo"
                          "description-benef-sespo";
  }
  
  .sespoBenef__card--title{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .sespoBenef__card .digital{
    width: 60px;
    height: 60px;
    background-image: url("/images/icon-iphone-100.png");
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .sespoBenef__card .safe{
    width: 60px;
    height: 60px;
    background-image: url("/images/icon-cloud-refresh-100.png");
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .sespoBenef__card .settings{
    width: 60px;
    height: 60px;
    background-image: url("/images/icons-pass-configurable-100.png");
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .sespoBenef__card--information{
    display: block;
    text-align: center;
  }
/* ------------------------INFORMATION SESPO------------------------ */
  .sespoInformation__container-video{
    grid-template-columns: 70% 30%;
    grid-template-areas: "fm-video-sespo mainSespo-information--client";
  }
  .sespoInformation__client p{
    text-align: start;
  }
  .sespoInformation__video{
    width: 700px;
    height: 400px;
  }
.sespoInformation__client{
    align-items: center;
  }


/* ------------------------BUY SESPO------------------------ */

.sespoBuy{
  align-items: center;
}
.sespoBuy__cards{
  justify-content: center;
}
.small-left-arrow{
  display: none;
}
.small-right-arrow{
  display: none;
}
.sespoBuy__card-container{
  margin:50px 50px 0;
}
  }