
@media screen and (min-width:1140px){
  .header__logo{
    width: 400px;
    height: 59px;
    margin-left: 20px;
    margin-top:10px;
    margin-bottom: 20px;
    content: url("/images/Logo-construtec-movil.png");
  }
/*------------------HEADER----------------*/
  header{
    height: 545px;
  }
  
  .header__slider{
  grid-template: 100px 90px 60px 60px 50px/50% 50% ;
  grid-template-areas: "title imagen"
                      "subtitle imagen"
                      "textQuestion imagen"
                      "texto imagen"
                      "button imagen";
  height: 385px;
  margin-top: 77px;
  }
  .header__slider h1{
    padding-top:7px;
    width: 250px;
    font-size: 2.8rem;
    line-height: 3.0rem;
    background:var(--just-white);
  }
  .header__slider h2{
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  .header__slider-textQuestion{
    grid-area: textQuestion;
    Display:block;
    padding: 0px 20px 0px 20px;
    font-size: 1.7rem;
    font-weight: bold;
    font-weight: 500;
    line-height: 2.0rem;
    color: var(--just-white);
  }
  .header__slider-text{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.0rem;
  }
  .header__slider-imagen{
    margin-top: 50px;
    width: 480px;
    height: 320px;
    content: url("/images/Imagen-laptop-Cpip-p1.png");
  }
  .header__slider-imagenTwo{
    margin-top: 50px;
    width: 480px;
    height: 300px;
    content: url("/images/SmartPhone-Sespo-web.png");
  }
  .header__slider .header__slider-button{
    position: static;
    display: block;
    margin: auto;
  }
  /*------------------MAIN CPIP----------------*/
  .main{
    grid-template-columns: 60% 40%;
    grid-template-areas: "description-cpip banner-cpip";
    padding-left:150px;
    padding-right: 100px;
    height: 380px;
  }
  .main__banner{
    width: 408px;
    height: 300px;
    background-image: url('/images/Banner-cpip-web.png');
    margin-right: 0px;
  }
/*------------------BENEF CPIP----------------*/
  .benef__container-cards{
    display: flex;
    padding-left:calc(450px - 3 * 120px);
    padding-right: calc(450px - 3 * 120px);
  }
  .benef__card{
    width: 240px;
    min-width: 240px;
    height: 310px;
  }
  .benef__card article{
    margin-top: 30px;
    grid-template-columns: 100%;
    grid-template-areas: "icon-benef-cpip"
                            "title-benef-cpip"
                            "description-benef-cpip ";
  }
  .benef__card-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .benef__card span{
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .benef__card .time{
    background-image: url("/images/icons8-clock-100.png");
  }
  .benef__card .safe{
    background-image: url("/images/icons8-data-quality-100.png");
  }
  .benef__card .organization{
    background-image: url("/images/icons8-folder-100.png");
  }
  .benef__card-information{
    display: block;
    text-align: center;
  }
 /* ------------------------INFORMATION CPIP------------------------ */
  .information__container-video{
    grid-template-columns: 70% 30%;
    grid-template-areas: "fm-video-cpip plansCpip-container-slider";
  }
  .information__client p{
    text-align: start;
  }
  .information__video{
    width: 700px;
    height: 400px;
  }
  .information__client{
    align-items: center;
  }
/* ------------------------BUY CPIP------------------------ */
  .buy{
    align-items: center;
  }
  .buy__cards{
    justify-content: center;
  }
  .buy__card-container{
    margin:50px 50px 0;
  }
/*------------------MAIN SESPO----------------*/
  .main__banner--sespo{
    width: 270px;
    height: 358px;
    background-image: url('/images/banner-sespo-web.png');
    }
  /*------------------BENEF SESPO----------------*/
  .benef__card .digital{
    background-image: url("/images/icon-iphone-100.png");
  }
  .benef__card .safeCloud{
    background-image: url("/images/icon-cloud-refresh-100.png");
  }
  .benef__card .settings{
    background-image: url("/images/icons-pass-configurable-100.png");
  }
}