@media screen and (min-width:768px){
  /*------------------HEADER----------------*/
  header{
    height: 585px;
  }
  .header{
    grid-template: 40px 45px/100%;
    grid-template-areas: "main-logo"
                          "main-menu";
  }
  .header__logo{
    width: 400px;
    height: 59px;
    margin-left: 20px;
    margin-top:30px;
    margin-bottom: 20px;
    content: url("/images/Logo-construtec-web.png");
  }
  .header__menu-options{
    width: 100%;
    margin:auto;
    background: var(--background-black);
  }
  #btn-menu{
    display: none;
  }
  #btn-menu:checked ~ .header__menu-options{
    margin-left:0px;
  }
.header__menu label{
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
}
.header__menu:hover{
  cursor:pointer;
  background: var(--blue-construtec);
}
.header__menu-options ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px;
  margin:0px;
  margin-right:50px;
  list-style: none;
}
.header__menu-options li:hover{
  background:rgba(0,0,0,0.3);
} 
/* -------------------FOOTER------------------------ */
  .footer-redSocial-whatsApp span{
    width: 50px;
    height: 50px;
    background-image: url("/images/icons8-whatsapp-96.svg");
  }
  .footer-redSocial-facebook span{
    width: 50px;
    height: 50px;
    background-image: url("/images/icons8-facebook-96.svg")
  }
  .footer-redSocial-youtube span{
    width: 50px;
    height: 50px;
    background-image: url("/images/icons8-youtube-squared-96.svg")
  }

  }