:root{
  /*--------COLORS-------*/
  --blue-construtec:#1474D2;
  --blue-light:#3399FF;
  --blue-hard:#074685;
  --red-construtec:#D1342A;
  --background-color:#E6F1F9;
  --background-black:#343538;
  --text-black-light:#070707;
  --warn-black:#201E1C;
  --black:#282623;
  --grey:#757575;
  --off-white:#faf8f7;
  --just-white:#fff;
  /*---------DIMENSIONS-----*/
  --space-sections:30px;
  --space-after-img:20px;
  --space-after-title:10px;
  --space-between-text:15px;
  --space-between-cards:15px;
  --width-elements:90%;
  --width-cards:80%;
  --width-card-buy:210px;
  --width-botton-buy:180px;
  --width-card-header:140px;
  --width-card-button:150px;
  --width-icon:25px;
  --width-user:50px;
  --height-botton-buy:48px;
  --height-card-header:30px;
  --height-card-button:48px;
  --height-car-buy:270px;
  --height-icon:25px;
  --height-user:50px;
  --height-cards:190px;
  --max-width-card-buy:250px;
  --max-width-cards:380px;
  --max-width-container:400px;
  --min-width-elements: 270px;
  --font-size__h1 : 2.0rem;
  --font-size__h2 : 1.6rem;
  --font-size__text:1.4rem;
  --line-height__text:1.8rem;
  --border-radius:10px;
  /*-------special----------*/
  --space-sections-special:60px;
  --height-cards-benef:150px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}
/*---------------------HEADER-------------------*/
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 395px;
  text-align: center;
}
.header{
  display: grid;
  grid-template-columns: 92% 8%;
  grid-template-areas: "main-logo main-menu";
  width: 100%;
  height: 45px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 20px;
  align-items: center;
}
.header__logo{
  display: flex;
  grid-area: main-logo;
  margin-left:15px;
}
.header__menu{
  grid-area:main-menu;
  background:var(--just-white);
  align-items: center;
}
.header__menu img{
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
}
#btn-menu{
  display: none;
}
.header__menu label{
  display: block;
  width: 40px;
  height: 40px;
}
.header__menu-options{
  position: absolute;
  width: 150px;
  margin-left:-170%;
  background: var(--background-black);
}
.header__menu-options ul{
  display: flex;
  flex-direction: column;
  margin:0px;
  padding: 0px;
  list-style: none;
}
.header__menu-options li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  line-height: 2.0rem;
}
#btn-menu:checked ~ .header__menu-options{
  margin-left:-110px;
}
.header__menu-options li:hover{
  background:rgba(0,0,0,0.3);
} 
/*------------------FOOTER-----------------*/
footer{
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--background-black);
  text-align: center;
}
footer h2{
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 2.4rem;
  color: var(--off-white);
}
footer p{
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--off-white);
}
.footer-redSocial{
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 230px;
  max-width: 300px;
  height: auto;
  margin:0 auto;
}
.footer-redSocial table{
  width: 100%;
  height: 100%;
}
.footer-redSocial-whatsApp span{
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background-image: url("/images/icons8-whatsapp-48.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-redSocial-facebook span{
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background-image: url("/images/icons8-facebook-48.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-redSocial-youtube span{
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background-image: url("/images/icons8-youtube-squared-48.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.footer-redSocial a{
  font-size: 1.0rem;
  text-align: center;
  text-decoration: none;
  color:var(--off-white);
}
.autorRight{
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--off-white);
  padding-bottom: 20px;
}