@media screen and (min-width:1140px) {
  :root{
    --width-cards-web:230px;
    --height-cards-web:300px;
    --width-icon-web:50px;
    --height-icon-web:50px;
    --width-elements-web:80%;
    --width-video-web:600px;
    --height-video-web:343px;
    --width-videoTutorials-web:450px;
    --height-videoTutorials-web:260px;
  }
  .aboutUs{
    grid-template-columns: 25% 75%;
    grid-template-areas: "title title"
                          "imagen text-aboutUs"
                          "moreText moreText";
    padding-top: 100px;
  }
  .section__text{
    text-align: start;
  }
  .aboutUs__imagen{
    margin: 0px 10px 0px auto; 
  }
  .aboutUs__moreText{
    margin-top:20px;
  }
  .whoWeAre__founders{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
}
}