:root{
  --space-sections:30px;
  --space-after-img:20px;
  --space-after-title:10px;
  --space-between-text:15px;
  --space-between-cards:15px;
  --width-elements:90%;
  --width-cards:80%;
  --width-card-buy:190px;
  --width-botton-buy:150px;
  --width-card-header:120px;
  --width-card-button:150px;
  --width-icon:25px;
  --width-user:50px;
  --height-botton-buy:48px;
  --height-card-header:30px;
  --height-card-button:48px;
  --height-car-buy:230px;
  --height-icon:25px;
  --height-user:50px;
  --height-cards:170px;
  --max-width-card-buy:220px;
  --max-width-cards:380px;
  --max-width-container:400px;
  --min-width-elements: 288px;
  --font-size__h1 : 2.0rem;
  --font-size__h2 : 1.6rem;
  --font-size__text:1.4rem;
  --line-height__text:1.8rem;
  --border-radius:10px;
/*-------special----------*/
  --space-sections-special:50px;
  --height-cards-benef:150px;
}
main{
  width: 100%;
  height: auto;
  background-color: var(--just-white);
}
.main{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: "banner-cpip"
                        "description-cpip";
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections-special);
  padding-bottom: var(--space-sections);
  text-align: center;
}
.main__banner{
  grid-area: banner-cpip;
  width: 181px;
  height: 152px;
  margin: 0 auto;
  margin-bottom: var(--space-after-img);
  background-image: url('/images/Banner-cpip-phone.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__description{
  grid-area: description-cpip;
}

.main__description h1{
  width:var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__h1);
  color: var(--blue-construtec);
  margin-bottom: var(--space-between-text);
}
.main__description h2{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__h1);
  color: var(--blue-construtec);
  margin-bottom: var(--space-between-text);
}
.main__description-question{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  font-weight: bold;
  color: var(--blue-construtec);
  margin-bottom: var(--space-between-text);
}
.main__description-information{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
}
/* ------------------------BENEF--CPIP------------------------ */
.benef{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  background-color: var(--background-color);
}
.benef__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  height: auto;
  margin:0 auto;
  font-size: var(--font-size__h2);
  text-align: center;
  color: var(--blue-construtec);
}

.benef__container-cards{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-container);
  height: auto;
  margin: 0 auto;
}
.benef__card{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-container);
  height: var(--height-cards-benef);
  margin: var(--space-between-cards) auto;
  padding: 15px;
  background-color: var(--just-white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border: 2px solid var(--blue-construtec);
}
.benef__card article{
  display:grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "icon-benef-cpip title-benef-cpip"
                        "description-benef-cpip description-benef-cpip";
}
.benef__card span{
  grid-area: icon-benef-cpip;
  display: inline-block;
  width: var(--width-icon);
  height: var(--height-icon);
}
.benef__card .time{
  background-image: url("/images/icons8-clock-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.benef__card-title{
  grid-area: title-benef-cpip;
  display:flex;
  align-items: center;
  font-size:var(--font-size__h1);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black);
}
.benef__card-information{
  grid-area: description-benef-cpip;
  margin-top: var(--space-after-title);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color:var(--black)
}
.benef__card .safe{
  background-image: url("/images/icons8-data-quality-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benef__card .organization{
  background-image: url("/images/icons8-folder-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* ------------------------INFORMATION CPIP------------------------ */
.information{
  width: 100%;
  min-width: 320px;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  text-align: center;
}
.information__tittle h2{
  width: var(--width-elements);
  margin: 0 auto;
  margin-bottom: var(--space-after-title);
  font-size: var(--font-size__h1);
  text-align: center;
  color: var(--blue-construtec);
}
.information__tittle p{
  width: var(--width-elements);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  text-align: center;
}
.information__container-video{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: "video-cpip"
                        "client-cpip";
}
.information__video{
  grid-area: video-cpip;
  display: block;
  margin: auto;
  align-items: center;
}
.information__client{
  grid-area:client-cpip;
  padding-top: var(--space-after-img);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
}
.information__client ul{
  padding-top:var(--space-after-title);
  margin: 0 auto;
}
/* ------------------------BUY CPIP------------------------ */
.buy{
  text-align: center;
  min-width: 320px;
  padding-top:var(--space-sections) ;
  padding-bottom: var(--space-sections);
  background-color: var(--background-color);
}
.buy h2{
  font-size:var(--font-size__h1);
  font-weight: bold;
  line-height: var(--line-height__text);
  text-align: center;
  color: var(--blue-construtec);
}
.buy__cards{
  display: block;
  height: auto;
  margin:0 auto;
}
.buy__card-container{
  position: relative;
  width: var(--width-card-buy);
  max-width: var(--max-width-card-buy);
  height: var(--height-car-buy);
  margin:50px auto 0px auto;
  padding: 0 15px;
  border: 2px solid var(--blue-construtec);
  background-color: var(--just-white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16) ;
}
.buy__card-header{
  position: absolute;
  width: var(--width-card-header);
  height: var(--height-card-header);
  padding: 6px;
  left:calc(50% - 60px);
  top:-15px;
  font-size: var(--font-size__text);
  background-color: var(--blue-construtec);
  border-radius: var(--border-radius);
  color:var(--just-white);
}
.buy__card-title{
  padding-top: var(--space-sections);
  font-size: var(--font-size__h2);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black)
}
.buy__card-price{
  padding: var(--space-after-title) 0px;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
}
.buy__card-price span{
  font-size: 1.2rem;
  font-weight: 300;
  vertical-align: text-top;
}
.buy__card-description{
  font-size: 1.2rem;
  line-height: 1.4rem;
  height: 65px;
  color: var(--grey);
}
.buy__button{
  width: var(--width-botton-buy);
  height: var(--height-botton-buy);
  margin-top: 10px;
  background-color: var(--just-white);
  border: 2px solid var(--blue-construtec);
  border-radius: var(--border-radius);
  font-size: var(--font-size__text);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--blue-construtec);
  cursor:pointer;
}
.buy__button span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/images/arrow-right-buy.svg');
  vertical-align: text-bottom;
}
.buy__more-info{
  width: var(--width-cards);
  min-width: var(--min-width-elements);
  height: auto;
  padding-top: 40px;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
}
/* ------------------------SESPO------------------------ */
.main__banner--sespo{
  width: 220px;
  height: 305px;
  background-image: url('/images/banner-sespo-phone.png');
}
.main__description--sespo h1{
  color: var(--red-construtec);
}
.main__description--sespo h2{
  color: var(--red-construtec);
}
.main__description-question--sespo{
  color: var(--red-construtec);
}
/* -------------------BENEF -SESPO------------------------ */
.benef__title-sespo{
  color: var(--red-construtec);
}
.benef__card-sespo{
  border: 2px solid var(--red-construtec);
}
.benef__card .digital{
  background-image: url("/images/icon-iphone-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benef__card .safeCloud{
  background-image: url("/images/icon-cloud-refresh-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benef__card .settings{
  background-image: url("/images/icon-pass-configurable-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ------------------------INFORMATION SESPO------------------------ */
.information__tittle--sespo h2{
  color: var(--red-construtec);
}

/* ------------------------BUY SESPO------------------------ */
.buy--sespo h2{
  color: var(--red-construtec);
}
.buy__card-container-sespo{
  border: 2px solid var(--red-construtec);
}
.buy__card-header-sespo{
  background-color: var(--red-construtec);
  color:var(--just-white);
  }
.buy__button--sespo{
  background-color: var(--just-white);
  border: 2px solid var(--red-construtec);
  color:var(--red-construtec);
}
.buy__button--sespo span{
  background-image: url('/images/arrow-right-sespo.svg');
}
