
:root{
  --blue-construtec:#1474D2;
  --blue-light:#3399FF;
  --blue-hard:#074685;
  --red-construtec:#D1342A;
  --background-color:#E6F1F9;
  --background-black:#343538;
  --text-black-light:#070707;
  --warn-black:#201E1C;
  --black:#282623;
  --grey:#757575;
  --off-white:#faf8f7;
  --just-white:#fff;
  --space-between-text:15px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 345px;
  text-align: center;

}
.header--main{
  display: grid;
  grid-template-columns: 92% 8%;
  grid-template-areas: "main-logo main-menu";
  width: 100%;
  height: 45px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 20px;
  align-items: center;
}
/*---------------------MENU-------------------*/
.header--main-logo{
  grid-area: main-logo;
  margin-left:20px;
}
.header--main-menu{
  grid-area:main-menu;
  background:var(--just-white);
  align-items: center;
}
.header--main-menu img{
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
}
#btn-menu{
  display: none;
}
.header--main-menu label{
  display: block;
  width: 40px;
  height: 40px;
}
.main-menu-options{
  position: absolute;
  width: 150px;
  margin-left:-170%;
  background: var(--background-black);
}
.main-menu-options ul{
  display: flex;
  flex-direction: column;
  margin:0px;
  padding: 0px;
  list-style: none;
}

.main-menu-options li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  line-height: 2.0rem;
}
#btn-menu:checked ~ .main-menu-options{
  margin-left:-110px;
}
.main-menu-options li:hover{
  background:rgba(0,0,0,0.3);
} 
/*---------------------HEADER-------------------*/
.header--container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "title"
                        "subtitle"
                        "imagen"
                        "texto"
                        "button";
  width: 100%;
  min-width: 288px;
  height: 285px;
  margin-top: 10px;
  padding-top:10px;
  text-align: center;
  align-self: center;
  background: linear-gradient(225.16deg, #1474D2 2.72%, #3399FF 28.65%, #3399FF 65.13%);
}
.headerSecondSlider{
  background: linear-gradient(226.52deg, rgba(232, 121, 106, 0.97) 4.72%, #3399FF 43.7%, #3399FF 74.63%);
}

.header--container h1{
  grid-area: title;
  display: block;
  width: 150px;
  height: 40px;
  margin:auto;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color:var(--blue-construtec);
  border-radius: 10px;
  background: var(--just-white);
}

.header--container h2{
  grid-area:subtitle;
  padding: 0px 20px;
  font-weight: bold;
  line-height: 2.2rem;
  color: var(--just-white);
}
.header--container-textQuestion{
  Display:none;
}
.header--container-text{
  grid-area: texto;
  padding: 0px 20px 30px 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--just-white);
}

.header--container .header--button{
  grid-area: button;
  position: absolute;
  display: block;
  left:calc(50% - 118px);
  top: 310px;
  margin-top:10px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border:none;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span{
  display: inline-block;
  width: 8px;
  height: 12px;
  margin-left: 10px;
  background-image: url('/images/icon-arrow-right.svg');
}

.header--container-imagen{
  grid-area: imagen;
  display:block;
  width: 195px;
  height: 130px;
  margin: auto;
}
.header--container-imagenDos{
  grid-area: imagen;
  display:block;
  width: 195px;
  height: 130px;
  margin: auto;
}
/*-------------------SLIDER-------------------*/
.slider{
  overflow: hidden;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 200%;
  animation: cambio 5s infinite alternate;
}
.slider ul:hover{
  animation-play-state: pause;
  cursor:pointer;
}
.slider li{
  width: 100%;
  list-style: none; 
}

@keyframes cambio{
  0%{
    margin-left: 0%;
  }
  45%{
    margin-left: 0%;
  }
  
  50%{
    margin-left: -100%;
  }
  100%{
    margin-left: -100%;
  }
}