
main{
  width: 100%;
  height: auto;
  background-color: var(--just-white);
}
.main{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: "banner-cpip"
                        "description-cpip";
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections-special);
  padding-bottom: var(--space-sections);
  text-align: center;
}
.main__banner{
  grid-area: banner-cpip;
  width: 181px;
  height: 152px;
  margin: 0 auto;
  margin-bottom: var(--space-after-img);
  background-image: url('/images/Banner-cpip-phone.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__description{
  grid-area: description-cpip;
}

.main__description h1{
  width:var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__h1);
  color: var(--blue-construtec);
  margin-bottom: var(--space-between-text);
}
.main__description h2{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__h1);
  color: var(--blue-construtec);
  margin-bottom: var(--space-between-text);
}
.main__description-question{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  font-weight: bold;
  color: var(--blue-construtec);
  margin-bottom: var(--space-between-text);
}
.main__description-information{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
}
/* ------------------------BENEF--CPIP------------------------ */
.benef{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  background-color: var(--background-color);
}
.benef__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  height: auto;
  margin:0 auto;
}
.benef__title h2{
  font-size: var(--font-size__h1);
  text-align: center;
  color: var(--blue-construtec);
}

.benef__container-cards{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-container);
  height: auto;
  margin: 0 auto;
}
.benef__card{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-container);
  height: var(--height-cards-benef);
  margin: var(--space-between-cards) auto;
  padding: 15px;
  background-color: var(--just-white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border: 2px solid var(--blue-construtec);
}
.benef__card article{
  display:grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "icon-benef-cpip title-benef-cpip"
                        "description-benef-cpip description-benef-cpip";
}
.benef__card span{
  grid-area: icon-benef-cpip;
  display: inline-block;
  width: var(--width-icon);
  height: var(--height-icon);
}
.benef__card .time{
  background-image: url("/images/icons8-clock-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benef__card-title{
  grid-area: title-benef-cpip;
  display:flex;
  align-items: center;
  font-size:var(--font-size__h1);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black);
}
.benef__card-information{
  grid-area: description-benef-cpip;
  margin-top: var(--space-after-title);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color:var(--black)
}
.benef__card .safe{
  background-image: url("/images/icons8-data-quality-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benef__card .organization{
  background-image: url("/images/icons8-folder-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* ------------------------INFORMATION CPIP------------------------ */
.information{
  width: 100%;
  min-width: 320px;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  text-align: center;
}
.information__tittle h2{
  width: var(--width-elements);
  margin: 0 auto;
  margin-bottom: var(--space-after-title);
  font-size: var(--font-size__h1);
  text-align: center;
  color: var(--blue-construtec);
}
.information__tittle p{
  width: var(--width-elements);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  text-align: center;
}
.information__container-video{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: "video-cpip"
                        "client-cpip";
}
.information__video{
  grid-area: video-cpip;
  display: block;
  margin: auto;
  align-items: center;
}
.information__client{
  grid-area:client-cpip;
  padding-top: var(--space-after-img);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
}
.information__client ul{
  width: var(--width-elements);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  padding-top:var(--space-after-title);
  padding-left: 35px;
  text-align: start;
}
/*-------------------CPIP MODULES-------------------*/
.modules{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  background-color: var(--background-color);
}
.modules h2{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  font-size: var(--font-size__h1);
  text-align: center;
  color: var(--blue-construtec);
}
.modules__container-cards{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-container);
  height: auto;
  margin: 0 auto;
}
.modules__card{
  width: var(--width-cards);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  height: var(--height-cards);
  margin:var(--space-between-cards) auto;
  padding: 15px;
  background-color: var(--just-white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border: 2px solid var(--blue-construtec);
}
.modules__card article{
  display:grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "icon-module-cpip title-module-cpip"
                        "description-module-cpip description-module-cpip";
}
.icon-modules{
  grid-area:icon-module-cpip;
  display: flex;
  align-items: center;
  width: var(--width-icon);
  height: var(--height-icon);
}
.module-ficha{
  background-image: url("/images/Icon-modulo-ficha-tecnica-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.modules__card-title{
  grid-area:title-module-cpip;
  display: flex;
  align-items: center;
  font-size:var(--font-size__h2);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black);
  margin-left:15px;
}
.modules__card-information{
  grid-area:description-module-cpip;
  margin-top: var(--space-after-title);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color:var(--black);
}
.module-metrados{
  background-image: url("/images/Icon-modulo-metrado-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-almacen{
  background-image: url("/images/Icon-modulo-almacen-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-maquinaria{
  background-image: url("/images/Icon-modulo-maquinaria-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-archivo{
  background-image: url("/images/Icon-modulo-archivo-fotografico-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-personal{
  background-image: url("/images/Icon-modulo-personal-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-gastos{
  background-image: url("/images/Icon-modulo-financiero-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-reportes{
  background-image: url("/images/Icon-modulo-reporte-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ------------------------BUY CPIP------------------------ */
.buy{
  text-align: center;
  min-width: 320px;
  padding-top:var(--space-sections) ;
  padding-bottom: var(--space-sections);
}
.buy h2{
  font-size:var(--font-size__h1);
  font-weight: bold;
  line-height: var(--line-height__text);
  text-align: center;
  color: var(--blue-construtec);
}
.buy__cards{
  display: block;
  height: auto;
  margin:0 auto;
}
.buy__card-container{
  position: relative;
  width: var(--width-card-buy);
  max-width: var(--max-width-card-buy);
  height: var(--height-car-buy);
  margin:50px auto 20px auto;
  padding: 0 15px;
  border: 2px solid var(--blue-construtec);
  background-color: var(--just-white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16) ;
}
.buy__card-header{
  position: absolute;
  width: var(--width-card-header);
  height: var(--height-card-header);
  padding: 6px;
  left:calc(50% - 70px);
  top:-15px;
  font-size: var(--font-size__h2);
  background-color: var(--blue-construtec);
  border-radius: var(--border-radius);
  color:var(--just-white);
}
.buy__card-title{
  padding-top: var(--space-sections);
  font-size: var(--font-size__h1);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black)
}
.buy__card-price{
  padding: var(--space-after-title) 0px;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
}
.buy__card-price span{
  font-size: 1.2rem;
  font-weight: 300;
  vertical-align: text-top;
}
.buy__card-description{
  font-size: 1.4rem;
  line-height: 1.6rem;
  height: 65px;
  color: var(--grey);
}
.buy__button{
  width: var(--width-botton-buy);
  height: var(--height-botton-buy);
  margin-top: 50px;
  background-color: var(--just-white);
  border: 2px solid var(--blue-construtec);
  border-radius: var(--border-radius);
  font-size: var(--font-size__text);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--blue-construtec);
  cursor:pointer;
}
.buy__button span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/images/arrow-right-buy.svg');
  vertical-align: text-bottom;
}
/*--------------------------CPIP OPINIONS-------------------*/
.opinions{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  background-color: var(--background-color);
}
.opinions__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  font-size: var(--font-size__h1);
  text-align: center;
  color: var(--blue-construtec);
}
.opinions__description{
  width: var(--width-elements);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  text-align: center;
}
.opinions__container-cards{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-container);
  height: auto;
  margin: 0 auto;
  padding: 30px;
}
.opinion__card{
  width: var(--width-cards);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  height: var(--height-cards);
  margin:var(--space-between-cards) auto;
  padding: 15px;
  background-color: var(--just-white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border: 2px solid var(--blue-construtec);
}
.opinion__card article{
  display:grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "icon-user title-opinion-cpip"
                        "icon-user subtitle-opinion-cpip"
                        "description-opinion-cpip description-opinion-cpip";
}
.icon-user{
  grid-area:icon-user;
  display: flex;
  align-items: center;
  width: var(--width-user);
  height: var(--height-user);
  background-image: url("/images/icon-client-cpip-100.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.opinion__card-title{
  grid-area:title-opinion-cpip;
  display: flex;
  align-items: center;
  font-size:var(--font-size__h2);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black);
  margin-left:15px;
}
.opinion__card-subtitle{
  grid-area:subtitle-opinion-cpip;
  display: flex;
  align-items: center;
  font-size:var(--font-size__h2);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black);
  margin-left:15px;
}
.opinion__card-information{
  grid-area:description-opinion-cpip;
  margin-top: var(--space-after-title);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color:var(--black);
}
/*--------------------CONTACT---------------------*/
.contact{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  text-align: center;
}
.contact__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  height: auto;
  margin:0 auto;
  margin-bottom: var(--space-after-title);
  font-size: var(--font-size__h1);
  text-align: center;
  color: var(--blue-construtec);
}

.contact__text{
  width: var(--width-elements);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  text-align: center;
}
.contact__whatsApp{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-container);
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.contact__whatsApp-card{
  display:grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "whatsApp textWhatsApp";
  width: 210px;
  min-width: 210px;
  max-width: var(--max-width-cards);
  height: 60px;
  margin:var(--space-between-cards) auto;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border: 2px solid var(--blue-construtec);
}
.contact__whatsApp-imagen{
  grid-area:whatsApp;
  display: flex;
  align-items: center;
  margin: auto;
  width: 40px;
  height: 40px;
  background-image: url("/images/icon-contact-whatsapp-160.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__whatsApp-text{
  grid-area:textWhatsApp;
  margin: auto auto auto auto;
  font-size: var(--font-size__h2);
  line-height: var(--line-height__text);
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}
/*--------------------FORM------------------*/
.form{
  margin: 0 auto;
  height: auto;
  padding-bottom: var(--space-sections);
  text-align: center;
  
}
.form-contact{
  display: block;
  width: var(--width-cards);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  height:455px;
  margin:var(--space-between-cards) auto;
}
.form__container{
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border: 2px solid var(--blue-construtec)
}
.form__question{
  font-size: var(--font-size__h2);
  line-height: var(--line-height__text);
  margin-top:10px;
  margin-bottom: 10px;
  margin-left:20px;
  text-align: start;
}
.form__answer{
  width: 90%;
  height: 40px;
  margin-left: 20px;
  border-radius: var(--border-radius);
  border:1px solid var(--blue-construtec);
}
.form__button{
  width: 50%;
  height: 40px;
  margin: 20px auto;
  font-size: var(--font-size__h2);
  line-height: var(--line-height__text);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--blue-construtec);
  cursor:pointer;
}
.form-answer--message{
  height: 100px;
}
.form span {
  color:var(--red-construtec);
}
/*------------------------MODAL --------------*/
.modal__container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.modal h2{
  font-size: var(--font-size__h1);
  text-align: center;
  color: var(--blue-construtec);
  margin-bottom: 15px;
}
.modal p{
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
}
.show {
  pointer-events: auto;
  opacity: 1;
}