@media screen and (min-width:768px) and (max-width:1139px){
  :root{
    --width-cards-web:230px;
    --height-cards-web:300px;
    --width-icon-web:50px;
    --height-icon-web:50px;
    --width-elements-web:80%;
    --width-video-tablet:350px;
    --height-video-tablet:192px;
    --width-videoTutorials-tablet:300px;
    --height-videoTutorials-tablet:172px;
  }
  /*------------------MAIN CPIP----------------*/
  .main{
    grid-template-columns: 60% 40%;
    grid-template-areas: "description-cpip banner-cpip";
    width: var(--width-elements-web);
    margin-left:auto;
    margin-right:auto;
  }
  .main__banner{
    display: block;
    margin: auto;
    width: 330px;
    height: 222px;
    background-image: url('/images/Banner-cpip-web.png');
  }
/*------------------BENEF CPIP----------------*/
  .benef__container-cards{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
  }
  .benef__card{
    width: var(--width-cards-web);
    height: var(--height-cards-web);
    min-width: var(--width-cards-web);
  }
  .benef__card article{
    grid-template-columns: 100%;
    grid-template-areas: "icon-benef-cpip"
                            "title-benef-cpip"
                            "description-benef-cpip ";
  }
  .benef__card-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .benef__card span{
    width: var(--width-icon-web);
    height: var(--height-icon-web);
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .benef__card .time{
    margin-top: 20px;
    background-image: url("/images/icons8-clock-100.png");
  }
  .benef__card .safe{
    margin-top: 20px;
    background-image: url("/images/icons8-data-quality-100.png");
  }
  .benef__card .organization{
    margin-top: 20px;
    background-image: url("/images/icons8-folder-100.png");
  }
  .benef__card-information{
    display: block;
    text-align: center;
    padding-top: 20px;
  }
 /* ------------------------INFORMATION CPIP------------------------ */
  .information__tittle h2{
    width: var(--width-elements-web);
  } 
  .information__tittle p{
    width: var(--width-elements-web);
  }
  
  .information__client ul{
    width: var(--width-elements-web);
    text-align: start;
  }
  .information__video{
    width: var(--width-video-tablet);
    height: var(--height-video-tablet);
  }
  .information__client{
    align-items: center;
  }
/*-------------------CPIP MODULES-------------------*/
  .modules__container-cards{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .modules__card{
    width: var(--width-cards-web);
    height: var(--height-cards-web);
    min-width: var(--width-cards-web);
  }
  .modules__card article{
    grid-template-columns: 100%;
    grid-template-areas: "icon-module-cpip"
                          "title-module-cpip"
                          "description-module-cpip";
  }
  .icon-modules{
    width: var(--width-icon-web);
    height: var(--height-icon-web);
    display: block;
    margin: auto;
  }
  .modules__card-title{
    padding-top:var(--space-after-img) ;
    display: block;
    text-align: center;
  }
  .modules__card-information{
    display: block;
    text-align: center;
  }
/* ------------------------BUY CPIP------------------------ */
  .buy__cards{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
  }
/*-------------------CPIP OPINIONS-------------------*/
.opinions__container-cards{
  max-width: var(--width-elements-web);
  display: flex;
  flex-wrap: wrap;
}
}