:root{
--space-left-seller:20px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 50px;
  text-align: center;
}

main{
  width: 100%;
  height: auto;
  background-color: var(--just-white);
}
/*-----------------------CLIENT----------------------------*/
.client{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
}
.client__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  height: auto;
  margin:0 auto;
  margin-bottom: var(--space-after-title);
  font-size: var(--font-size__h1);
  text-align: center;
  color: var(--blue-construtec);
}
.client__text{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  padding-left: var(--space-left-seller);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
}
.form{
  margin: 0 auto;
  height: auto;
  padding-bottom: var(--space-sections);
}
.form__client{
  display: block;
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  height: auto;
  margin:0px auto;
}
.form__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  padding-left: var(--space-left-seller);
  height: auto;
  font-size: var(--font-size__h2);
  line-height: var(--line-height__text);
}
.form__container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "information-required" 
                          "information-optional";
}
.form__information-required{
  display: flex;
  flex-direction: column;
  grid-area: information-required;
}
.form__question{
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  margin-top:10px;
  margin-bottom: 5px;
  margin-left:var(--space-left-seller);
  text-align: start;
}
.form__question span{
  color:var(--red-construtec);
}
.form__answer{
  width: 90%;
  height: 30px;
  margin-left:var(--space-left-seller);
  border: 1px solid #666;
}
.form__answer-special{
  width: 90%;
  height: 30px;
  margin-left: var(--space-left-seller);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
}
.form__information-optional{
  grid-area: information-optional;
}
.form__information-optional p{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  height: auto;
  padding-left: var(--space-left-seller);
  margin-top: var(--space-between-text);
  margin-bottom: var(--space-after-title);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
}
.form-answer--message{
  height: 100px;
}
*::-webkit-input-placeholder {
  font-family: 'DM Sans', sans-serif;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
}
/*------------------------ORDER----------------------------*/
.order{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-bottom: var(--space-sections);
}
.order__container{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  margin: 0 auto;
}
.order__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  height: auto;
  padding-left: var(--space-left-seller);
  padding-bottom:10px;
  font-size: var(--font-size__h2);
  line-height: var(--line-height__text);
}
.order__description{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  height: auto;
  margin:0 auto;
  padding-left:var(--space-left-seller);
  border-collapse: collapse;
  border:var(--grey) 1px solid;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
}
.order__description tr{
  border:var(--grey) 1px solid;
  height: 50px;
}
.order__description td{
  padding-left:20px;
}
.order__description span{
  color: var(--red-construtec);
}
/*-----------------------PAY----------------------------*/
.pay{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-bottom: var(--space-sections);
}
.pay__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  height: auto;
  padding-left: var(--space-left-seller);
  text-align: start;
  margin: 0 auto;
  margin-bottom: var(--space-after-title);
  font-size: var(--font-size__h2);
  line-height: var(--line-height__text);
}
.pay__options{
  display: flex;
  flex-direction: column;
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  margin:var(--space-between-cards) auto;
  padding-left: var(--space-left-seller);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
}
.pay__container{
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}
/*----------------SELECT OPTION PAY---------------------------*/
.pay__option-check{
  margin: 10px;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  font-weight: bold;
}

.pay__option-description{
  height: auto;
  padding-bottom:10px;
}
.pay__option-description > p{
  padding: 0 10px;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
}
.pay__option-banks{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "nacion" 
                        "interbank"
                        "bbva" 
                        "bcp";
  width: 90%;
  height: auto;
  margin: 5px auto 0px auto;
}

.bank-nacion{
  grid-area: nacion;
  width:140px;
  height: 35px;
  margin: 5px auto;
}
.bank-interbank{
  grid-area:interbank;
  width:140px;
  height: 35px;
  margin:5px auto;
}
.bank-bbva{
  grid-area:bbva;
  width:140px;
  height: 35px;
  margin:5px auto;
}
.bank-bcp{
  grid-area:bcp;
  width:70px;
  height: 35px;
  margin:5px auto;
}

.option__credit-card{
  display: flex;
  width:124px;
  height: 35px;
  margin:5px auto;
}
.option__yape{
  display: flex;
  width:41px;
  height: 50px;
  margin:5px auto;
}

/*----------------TERM AND CONDITIONS---------------------------*/
.term__condtions{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin:var(--space-between-cards) auto;
  padding-left:var(--space-left-seller);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
}
.term__condtions p {
  margin-bottom: 15px;
}

/*----------------PAY BUTTON---------------------------*/

.pay__container__button{
  display: flex;
  justify-content: center;
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
}
.pay__deposit{
  display: none;
}
.pay__transfer{
  display: none;
}
.pay__yape{
  display: none;
}
.button__pay{
  width: 200px;
  height: 40px;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--blue-construtec);
  cursor:pointer;
}
.pay_button-message{
  display:block;
  justify-content: center;
}
.pay_button-message p{
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color:var(--red-construtec);
}
.button__disable{
  width: 200px;
  height: 40px;
  margin: 15px;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--grey);
  cursor:none;
}