
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 345px;
  text-align: center;

}
.header--main{
  width: 100%;
  height: 45px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
/*---------------------MENU-------------------*/
.header--main-menu img{
  width: 24px;
  height: 26px;
}
.header--main-menu ul{
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: right;
  left:calc(100% - 155px);
  width: 140px;
  margin: 5px 5px 5px 5px;
  background-color: var(--background-black);
  border-radius: 10px;
}
.header--main-menu:hover ul,ul:hover{
  display: block;
}
.header--main-menu a{
  color: white;
  font-size: 1.6rem;
  line-height: 2.0rem;
  text-decoration: none;
}
.header--main-menu li{
    margin: 5px 10px;
}
.header--main-menu a:hover{
  text-decoration: underline;
}
/*---------------------HEADER-------------------*/
.header--container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "title"
                        "subtitle"
                        "imagen"
                        "texto"
                        "button";
  width: 100%;
  min-width: 288px;
  height: 285px;
  margin-top: 10px;
  padding-top:10px;
  text-align: center;
  align-self: center;
  background: linear-gradient(225.16deg, #1474D2 2.72%, #3399FF 28.65%, #3399FF 65.13%);
}
.headerSecondSlider{
  background: linear-gradient(226.52deg, rgba(232, 121, 106, 0.97) 4.72%, #3399FF 43.7%, #3399FF 74.63%);
}
.header--container h1{
  grid-area: title;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  background:var(--blue-construtec);
  border-radius: 10px;
  width: 150px;
  height: 40px;
  display: block;
  margin:auto;
  color: var(--just-white);
}
.header--container h2{
  grid-area:subtitle;
  padding: 0px 20px;
  font-weight: bold;
  line-height: 2.2rem;
  color: var(--just-white);
}
.header--container-textQuestion{
  Display:none;
}
.header--container-text{
  grid-area: texto;
  padding: 0px 20px 10px 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--just-white);
}

.header--container .header--button{
  grid-area: button;
  position: absolute;
  left:calc(50% - 118px);
  top: 310px;
  display: block;
  margin-top:10px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border:none;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span{
  display: inline-block;
  width: 8px;
  height: 12px;
  margin-left: 10px;
  background-image: url('/images/icon-arrow-right.svg');
}

.header--container-imagen{
  grid-area: imagen;
  width: 195px;
  height: 130px;
  display:block;
  margin: auto;
}
.header--container-imagenDos{
  grid-area: imagen;
  width: 195px;
  height: 130px;
  display:block;
  margin: auto;
}
/*-------------------SLIDER-------------------*/
.slider{
  overflow: hidden;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 200%;
  animation: cambio 5s infinite alternate;
}
.slider ul:hover{
  animation-play-state: pause;
  cursor:pointer;
}
.slider li{
  width: 100%;
  list-style: none; 
}

@keyframes cambio{
  0%{
    margin-left: 0%;
  }
  45%{
    margin-left: 0%;
  }
  
  50%{
    margin-left: -100%;
  }
  100%{
    margin-left: -100%;
  }
}