@media screen and (min-width:768px) and (max-width:1139px){
  :root{
    --width-cards-web:230px;
    --height-cards-web:300px;
    --width-icon-web:50px;
    --height-icon-web:50px;
    --width-elements-web:80%;
    --width-video-tablet:350px;
    --height-video-tablet:192px;
    --width-videoTutorials-tablet:350px;
    --height-videoTutorials-tablet:192px;
  }
  .description{
    grid-template-columns: 40% 60%;
    grid-template-areas: "imagen-cpip description-cpip";
    padding-top: 100px;
    width: var(--width-elements-web);
    margin-left:auto;
    margin-right:auto;
  }
  .description__imagen{
    display: block;
    margin: auto;
    background-image:url('/images/Banner-macbookair-Cpip-phone.png') ;
  }
/*-------------------CPIP MODULES-------------------*/
  .modules__container-cards{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
  }
  .modules__card{
    width: var(--width-cards-web);
    height: var(--height-cards-web);
    min-width: var(--width-cards-web);
  }
  .modules__card article{
    grid-template-columns: 100%;
    grid-template-areas: "icon-module-cpip"
                          "title-module-cpip"
                          "description-module-cpip";
  }
  .icon-modules{
    width: var(--width-icon-web);
    height: var(--height-icon-web);
    display: block;
    margin: auto;
  }
  .modules__card-title{
    padding-top:var(--space-after-img) ;
    display: block;
    text-align: center;
  }
  .modules__card-information{
    display: block;
    text-align: center;
  }
/*-------------------CPIP FEATURES-------------------*/
  .features-video-buy{
    grid-template-columns: 70% 30%;
    grid-template-areas: "feature-video-cpip client-cpip";
    width: var(--width-elements-web);
    margin-left:auto;
    margin-right:auto;
  }
  .features__video{
    width: var(--width-video-tablet);
    height: var(--height-video-tablet);
  }
  .features__client{
    align-items: center;
  }
  .features__client ul{
    text-align: start;
  }
/* ------------------------BUY CPIP------------------------ */
  .buy__cards{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
  }
/*-------------------CPIP OPINIONS-------------------*/
  .opinions__container-cards{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
  }
/*-------------------CPIP TUTORIALS-------------------*/
  .tutorials__container{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
  }
  .tutorials__content{
    margin-left:auto;
    margin-right:auto;
  }
  .tutorials__video{
    width: var(--width-videoTutorials-tablet);
    height: var(--height-videoTutorials-tablet);
  }
  .tutorials__video iframe{
    width: var(--width-videoTutorials-tablet);
    height: var(--height-videoTutorials-tablet);
  }
}