:root{
  --space-sections:30px;
  --space-after-img:20px;
  --space-after-title:10px;
  --space-between-text:15px;
  --space-between-cards:15px;
  --width-elements:90%;
  --width-cards:80%;
  --width-card-buy:190px;
  --width-botton-buy:150px;
  --width-card-header:120px;
  --width-card-button:150px;
  --width-icon:25px;
  --width-user:50px;
  --height-botton-buy:48px;
  --height-card-header:30px;
  --height-card-button:48px;
  --height-car-buy:230px;
  --height-icon:25px;
  --height-user:50px;
  --height-cards:170px;
  --max-width-card-buy:220px;
  --max-width-cards:380px;
  --max-width-container:400px;
  --min-width-elements: 288px;
  --font-size__h1 : 2.0rem;
  --font-size__h2 : 1.6rem;
  --font-size__text:1.4rem;
  --line-height__text:1.8rem;
  --border-radius:10px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 50px;
  text-align: center;
}
main{
  width: 100%;
  height: auto;
  background-color: var(--just-white);
}
/*----------------CONTACT----------------------------*/
.contact{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  text-align: center;
}
.contact__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  height: auto;
  margin:0 auto;
  margin-bottom: var(--space-after-title);
  font-size: var(--font-size__h1);
  text-align: center;
  color: var(--blue-construtec);
}
.contact__text{
  width: var(--width-elements);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  text-align: center;
}
.contact__whatsApp{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-container);
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.contact__whatsApp-card{
  display:grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "whatsApp textWhatsApp";
  width: var(--width-cards);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  height: 60px;
  margin:var(--space-between-cards) auto;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border: 2px solid var(--blue-construtec);
  cursor:pointer;
}
.contact__whatsApp-imagen{
  grid-area:whatsApp;
  display: flex;
  align-items: center;
  margin: auto;
  width: 40px;
  height: 40px;
  background-image: url("/images/icon-contact-whatsapp-160.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__whatsApp-text{
  grid-area:textWhatsApp;
  margin: auto auto auto 0px;
  font-size: var(--font-size__h2);
  line-height: var(--line-height__text);
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}

/*--------------------FORM--------------*/
.form{
  margin: 0 auto;
  height: auto;
  padding-bottom: var(--space-sections);
  text-align: center;
  
}
.form-contact{
  display: block;
  width: var(--width-cards);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  height: 500px;
  margin:var(--space-between-cards) auto;
}
.form__container{
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border: 2px solid var(--blue-construtec)
}
.form__question{
  font-size: var(--font-size__h2);
  line-height: var(--line-height__text);
  color: var(--blue-construtec);
  margin-top:10px;
  margin-bottom: 10px;
  margin-left:20px;
  text-align: start;
}
.form-answer{
  width: 90%;
  height: 40px;
  margin-left: 20px;
  border-radius: var(--border-radius);
  border:none;
}
.form-button{
  width: 50%;
  height: 40px;
  margin: 20px auto;
  font-size: var(--font-size__h2);
  line-height: var(--line-height__text);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--blue-construtec);
  cursor:pointer;
}
.form-answer--message{
  height: 100px;
}

@media screen and (min-width:768px) and (max-width:1139px){
  .contact{
    padding-top: 100px;
  }

}
@media screen and (min-width:1140px) {

  .contact{
    padding-top: 100px;
  }
  .contact__text{
    text-align: start;
  }

}