:root{
	--height--button--whatsApp:45px;
	}
.float{
	position:fixed;
	width:40px; 
	height:var(--height--button--whatsApp);
	bottom:30px;
	right:30px;
	text-align:center;
	background-color:#25d366;
	color:#FFF;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
  font-size:36px;
	padding-right:9px;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
	border: solid 1px #25d366;
}
.float:hover  .float--button{
	text-decoration: none;
	color: #25d366;
	top:-1px;
  background-color:#fff;
	border: solid 1px #25d366;
	border-right: none;
}
.float--button{
	position:fixed;
	height:var(--height--button--whatsApp);
	width: 140px;;
	background-color:#25d366;
	color:#FFF;
	position: absolute;
	left:-140px;
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	font-size: 18px;
  text-align: center;
	padding-top: 10px;
}
.float--button:hover {
	text-decoration: none;
	color: #25d366;
	top:-1px;
  background-color:#fff;
	border: solid 1px #25d366;
	border-right: none;
}
.my-float{
	margin-top:5px;
}