@media screen and (min-width:1140px){
  :root{
    --width-cards-web:230px;
    --height-cards-web:300px;
    --width-icon-web:50px;
    --height-icon-web:50px;
    --width-elements-web:80%;
    --width-video-web:600px;
    --height-video-web:343px;
    --width-videoTutorials-web:450px;
    --height-videoTutorials-web:260px;
  }

  .description__imagen--sespo{
    display: block;
    margin: auto;
    width: 445px;
    height: 360px;
    background-image:url('/images/banner-sespo-description_web.png') ;
  }
/*-------------------CPIP MODULES-------------------*/

/*-------------------CPIP FEATURES-------------------*/

/* ------------------------BUY CPIP------------------------ */

/*-------------------CPIP OPINIONS-------------------*/

/*-------------------CPIP TUTORIALS-------------------*/

}