@media screen and (min-width:1140px){
  :root{
    --width-cards-web:230px;
    --height-cards-web:300px;
    --width-icon-web:50px;
    --height-icon-web:50px;
    --width-elements-web:80%;
    --width-video-web:600px;
    --height-video-web:343px;
    --width-videoTutorials-web:450px;
    --height-videoTutorials-web:260px;
  }
  .cpipDescription{
    grid-template-columns: 40% 60%;
    grid-template-areas: "imagen-cpip description-cpip";
    padding-top: 100px;
    width: var(--width-elements-web);
    margin-left:auto;
    margin-right:auto;
  }
  .cpipDescription__imagen{
    display: block;
    margin: auto;
    width: 350px;
    height: 240px;
    background-image:url('/images/Banner-macbookair-Cpip-web.png') ;
  }
/*-------------------CPIP MODULES-------------------*/
  .cpipModules__container-cards{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
  }
  .cpipModules__card{
    width: var(--width-cards-web);
    height: var(--height-cards-web);
    min-width: var(--width-cards-web);
  }
  .cpipModules__card article{
    grid-template-columns: 100%;
    grid-template-areas: "icon-module-cpip"
                          "title-module-cpip"
                          "description-module-cpip";
  }
  .icon-modules{
    width: var(--width-icon-web);
    height: var(--height-icon-web);
    display: block;
    margin: auto;
  }
  .cpipModules__card-title{
    padding-top:var(--space-after-img) ;
    display: block;
    text-align: center;
  }
  .cpipModules__card-information{
    display: block;
    text-align: center;
  }
/*-------------------CPIP FEATURES-------------------*/
  .cpipFeatures-video-buy{
    grid-template-columns: 70% 30%;
    grid-template-areas: "feature-video-cpip client-cpip";
    width: var(--width-elements-web);
    margin-left:auto;
    margin-right:auto;
  }
  .cpipFeatures__video{
    width: var(--width-video-web);
    height: var(--height-video-web);
  }
  .cpipFeatures__buy{
    display: block;
    margin: auto;
  }
  .cpipFeatures__client{
    align-items: center;
  }
  .cpipFeatures__client ul{
    text-align: start;
  }
/* ------------------------BUY CPIP------------------------ */
  .buy__cards{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
  }
/*-------------------CPIP OPINIONS-------------------*/
  .cpipOpinions__container-cards{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
  }
/*-------------------CPIP TUTORIALS-------------------*/
  .cpipTutorials__container{
    max-width: var(--width-elements-web);
    display: flex;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
  }
  .cpipTutorials__content{
    margin-left:auto;
    margin-right:auto;
  }
  .cpipTutorials__video{
    width: var(--width-videoTutorials-web);
    height: var(--height-videoTutorials-web);
  }
  .cpipTutorials__video video{
    width: var(--width-videoTutorials-web);
    height: var(--height-videoTutorials-web);
  }
}