:root{
  --space-sections:30px;
  --space-after-img:20px;
  --space-after-title:10px;
  --space-between-text:15px;
  --space-between-cards:15px;
  --width-elements:90%;
  --width-cards:80%;
  --width-card-buy:190px;
  --width-botton-buy:150px;
  --width-card-header:120px;
  --width-card-button:150px;
  --width-icon:25px;
  --width-user:50px;
  --height-botton-buy:48px;
  --height-card-header:30px;
  --height-card-button:48px;
  --height-car-buy:230px;
  --height-icon:25px;
  --height-user:50px;
  --height-cards:170px;
  --max-width-card-buy:220px;
  --max-width-cards:380px;
  --max-width-container:400px;
  --min-width-elements: 288px;
  --font-size__h1 : 2.0rem;
  --font-size__h2 : 1.6rem;
  --font-size__text:1.4rem;
  --line-height__text:1.8rem;
  --border-radius:10px;
  /*-------------*/
  --width-elements-products:80%;
  --height-products-card:490px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 50px;
  text-align: center;
}
.products{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  text-align: center;
}
.products__title{
  width: var(--width-elements);
  margin: 0 auto;
  margin-bottom: var(--space-sections);
  font-size: var(--font-size__h2);
  text-align: center;
  color: var(--blue-construtec);
}
.productos-container{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: "product-cpip"
                        "product-sespo";
}
.product__cpip{
  grid-area:product-cpip ;
  display: block;
  width: 70%;
  max-width: 320px;
  min-width:var(--min-width-elements);
  height: var(--height-products-card);
  margin: auto;
  align-items: center;
  border: 2px solid var(--blue-construtec);
  border-radius: var(--border-radius);
}
.product__cpip-imagen{
  width: 200px;
  height: 138px;
  margin:var(--space-sections) auto;
  margin-bottom: var(--space-after-img);
  background-image:url('/images/Banner-macbookair-Cpip-phone.png') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.product__cpip h1{
  width: var(--width-elements-products);
  min-width: var(--min-width-elements);
  margin: var(--space-after-img) auto;
  font-size: var(--font-size__h1);
  color: var(--blue-construtec);
  margin-bottom: var(--space-between-text);
}
.product__cpip h2{
  width: var(--width-elements-products);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__h2);
  color: var(--blue-construtec);
  margin-bottom: var(--space-between-text);
}
.product__cpip p{
  width: var(--width-elements-products);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  height: 110px;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
}
.product__cpip-button{
  display: block;
  margin: 20px auto;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--blue-construtec);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border:none;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--just-white);
}
.product__cpip-button span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/images/arrow-right-white.svg');
  vertical-align: text-bottom;
}
.product__sespo{
  grid-area: product-sespo;
  display: block;
  width: 70%;
  max-width: 320px;
  min-width:var(--min-width-elements);
  height: var(--height-products-card);
  margin: var(--space-sections) auto;
  align-items: center;
  border: 2px solid var(--red-construtec);
  border-radius: var(--border-radius);
}
.product__sespo-imagen{
  width: 155px;
  height: 150px;
  margin:0 auto;
  margin-bottom: var(--space-after-img);
  background-image:url('/images/banner-sespo-description_phone.png') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product__sespo h1{
  width: var(--width-elements-products);
  min-width: var(--min-width-elements);
  margin: var(--space-sections) auto;
  font-size: var(--font-size__h1);
  color: var(--red-construtec);
  margin-bottom: var(--space-between-text);
}
.product__sespo h2{
  width: var(--width-elements-products);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__h2);
  color: var(--red-construtec);
  margin-bottom: var(--space-between-text);
}

.product__sespo p{
  width: var(--width-elements-products);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  height: 110px;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
}
.product__sespo-button{
  display: block;
  margin: 20px auto;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--red-construtec);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border:none;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--just-white);
}

.product__sespo-button span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/images/arrow-right-white.svg');
  vertical-align: text-bottom;
}