:root{
  --space-sections:30px;
  --space-after-img:20px;
  --space-after-title:10px;
  --space-between-text:15px;
  --space-between-cards:15px;
  --width-elements:90%;
  --width-cards:80%;
  --width-card-buy:190px;
  --width-botton-buy:150px;
  --width-card-header:120px;
  --width-card-button:150px;
  --width-icon:25px;
  --width-user:50px;
  --height-botton-buy:48px;
  --height-card-header:30px;
  --height-card-button:48px;
  --height-car-buy:230px;
  --height-icon:25px;
  --height-user:50px;
  --height-cards:170px;
  --max-width-card-buy:220px;
  --max-width-cards:380px;
  --max-width-container:400px;
  --min-width-elements: 288px;
  --font-size__h1 : 2.0rem;
  --font-size__h2 : 1.6rem;
  --font-size__text:1.4rem;
  --line-height__text:1.8rem;
  --border-radius:10px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 50px;
  text-align: center;
}
/*-------------------CPIP DESCRIPTION-------------------*/
main{
  width: 100%;
  height: auto;
  background-color: var(--just-white);
}
.description{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "imagen-cpip"
                        "description-cpip";
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  text-align: center;
}
.description__imagen{
  grid-area:imagen-cpip;
  width: 275px;
  height: 190px;
  margin:0 auto;
  margin-bottom: var(--space-after-img);
  background-image:url('/images/Banner-macbookair-Cpip-phone.png') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.description__text{
grid-area: description-cpip;
}
.description__text h1{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__h1);
  color: var(--blue-construtec);
  margin-bottom: var(--space-between-text);
}
.description__text h2{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__h2);
  color: var(--blue-construtec);
  margin-bottom: var(--space-between-text);
}
.description__text p{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
}
/*-------------------CPIP MODULES-------------------*/
.modules{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  background-color: var(--background-color);
}
.modules h2{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  font-size: var(--font-size__h2);
  text-align: center;
  color: var(--blue-construtec);
}
.modules__container-cards{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-container);
  height: auto;
  margin: 0 auto;
}
.modules__card{
  width: var(--width-cards);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  height: var(--height-cards);
  margin:var(--space-between-cards) auto;
  padding: 15px;
  background-color: var(--just-white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border: 2px solid var(--blue-construtec);
}
.modules__card article{
  display:grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "icon-module-cpip title-module-cpip"
                        "description-module-cpip description-module-cpip";
}
.icon-modules{
  grid-area:icon-module-cpip;
  display: flex;
  align-items: center;
  width: var(--width-icon);
  height: var(--height-icon);
}
.module-ficha{
  background-image: url("/images/Icon-modulo-ficha-tecnica-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.modules__card-title{
  grid-area:title-module-cpip;
  display: flex;
  align-items: center;
  font-size:var(--font-size__h2);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black);
  margin-left:15px;
}
.modules__card-information{
  grid-area:description-module-cpip;
  margin-top: var(--space-after-title);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color:var(--black);
}
.module-metrados{
  background-image: url("/images/Icon-modulo-metrado-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-almacen{
  background-image: url("/images/Icon-modulo-almacen-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-maquinaria{
  background-image: url("/images/Icon-modulo-maquinaria-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-archivo{
  background-image: url("/images/Icon-modulo-archivo-fotografico-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-personal{
  background-image: url("/images/Icon-modulo-personal-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-gastos{
  background-image: url("/images/Icon-modulo-financiero-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.module-reportes{
  background-image: url("/images/Icon-modulo-reporte-50.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*-------------------CPIP FEATURES-------------------*/
.features{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  text-align: center;
}
.features__title{
  width: var(--width-elements);
  margin: 0 auto;
  margin-bottom: var(--space-after-title);
  font-size: var(--font-size__h2);
  text-align: center;
  color: var(--blue-construtec);
}
.features__description{
  width: var(--width-elements);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  text-align: center;
}
.features-video-buy{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: "feature-video-cpip"
                        "client-cpip";
}
.features__video{
  grid-area: feature-video-cpip;
  display: block;
  margin: auto;
  align-items: center;
}
.features__client{
  grid-area:client-cpip;
  padding-top: var(--space-after-img);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
}
.features__client ul{
  text-align: center;
}
/* ------------------------BUY CPIP------------------------ */
.buy{
  text-align: center;
  min-width: 320px;
  padding-top:var(--space-sections) ;
  padding-bottom: 60px;
  background-color: var(--background-color);
}
.buy h2{
  font-size:var(--font-size__h2);
  font-weight: bold;
  line-height: var(--line-height__text);
  text-align: center;
  color: var(--blue-construtec);
}
.buy__cards{
  display: block;
  height: auto;
  margin:0 auto;
}
.buy__card-container{
  position: relative;
  width: var(--width-card-buy);
  max-width: var(--max-width-card-buy);
  height: var(--height-car-buy);
  margin:50px auto 0px auto;
  padding: 0 15px;
  border: 2px solid var(--blue-construtec);
  background-color: var(--just-white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16) ;
}
.buy__card-header{
  position: absolute;
  width: var(--width-card-header);
  height: var(--height-card-header);
  padding: 6px;
  left:calc(50% - 60px);
  top:-15px;
  font-size: var(--font-size__text);
  background-color: var(--blue-construtec);
  border-radius: var(--border-radius);
  color:var(--just-white);
}
.buy__card-title{
  padding-top: var(--space-sections);
  font-size: var(--font-size__h2);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black)
}
.buy__card-price{
  padding: var(--space-after-title) 0px;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
}
.buy__card-price span{
  font-size: 1.2rem;
  font-weight: 300;
  vertical-align: text-top;
}
.buy__card-description{
  font-size: 1.2rem;
  line-height: 1.4rem;
  height: 65px;
  color: var(--grey);
}
.buy__button{
  width: var(--width-botton-buy);
  height: var(--height-botton-buy);
  margin-top: 10px;
  background-color: var(--just-white);
  border: 2px solid var(--blue-construtec);
  border-radius: var(--border-radius);
  font-size: var(--font-size__text);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--blue-construtec);
  cursor:pointer;
}
.buy__button span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/images/arrow-right-buy.svg');
  vertical-align: text-bottom;
}
.buy__more-info{
  width: var(--width-cards);
  min-width: var(--min-width-elements);
  height: auto;
  padding-top: 40px;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
}
/*-------------------CPIP OPINIONS-------------------*/
.opinions{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);

}
.opinions__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  font-size: var(--font-size__h2);
  text-align: center;
  color: var(--blue-construtec);
}
.opinions__description{
  width: var(--width-elements);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  text-align: center;
}
.opinions__container-cards{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-container);
  height: auto;
  margin: 0 auto;
}
.opinion__card{
  width: var(--width-cards);
  min-width: var(--min-width-elements);
  max-width: var(--max-width-cards);
  height: var(--height-cards);
  margin:var(--space-between-cards) auto;
  padding: 15px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border: 2px solid var(--blue-construtec);
}
.opinion__card article{
  display:grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "icon-user title-opinion-cpip"
                        "icon-user subtitle-opinion-cpip"
                        "description-opinion-cpip description-opinion-cpip";
}
.icon-user{
  grid-area:icon-user;
  display: flex;
  align-items: center;
  width: var(--width-user);
  height: var(--height-user);
  background-image: url("/images/icon-client-cpip-100.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.opinion__card-title{
  grid-area:title-opinion-cpip;
  display: flex;
  align-items: center;
  font-size:var(--font-size__h2);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black);
  margin-left:15px;
}
.opinion__card-subtitle{
  grid-area:subtitle-opinion-cpip;
  display: flex;
  align-items: center;
  font-size:var(--font-size__h2);
  font-weight: bold;
  line-height: var(--line-height__text);
  color:var(--black);
  margin-left:15px;
}
.opinion__card-information{
  grid-area:description-opinion-cpip;
  margin-top: var(--space-after-title);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color:var(--black);
}
/*-------------------CPIP TUTORIALS-------------------*/
.tutorials{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: var(--space-sections);
  padding-bottom: var(--space-sections);
  background-color: var(--background-color);
}
.tutorials__title{
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  font-size: var(--font-size__h2);
  text-align: center;
  color: var(--blue-construtec);
}
.tutorials__description{
  width: var(--width-elements);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: var(--black);
  margin: 0 auto;
  margin-bottom: var(--space-between-text);
  text-align: center;
}
.tutorials__content{
  display: block;
}
.tutoriales__titleVideo{
  display: block;
  width: var(--width-elements);
  min-width: var(--min-width-elements);
  height: 30px;
  margin: var(--space-after-img) auto;
  margin-bottom: var(--space-between-text);
  font-size: var(--font-size__h2);
  text-align: center;
  color: var(--blue-construtec);
}
.tutorials__video{
  display: flex;
  justify-content: center;
}