:root{
  --blue-construtec:#1474D2;
  --blue-light:#3399FF;
  --blue-hard:#074685;
  --red-construtec:#D1342A;
  --background-color:#CED2D6;
  --text-black:#343538;
  --text-black-light:#343538;
  --warn-black:#201E1C;
  --black:#282623;
  --grey:#bababa;
  --off-white:#faf8f7;
  --just-white:#fff;
}
