:root{
  --blue-construtec:#1474D2;
  --blue-light:#3399FF;
  --blue-hard:#074685;
  --red-construtec:#D1342A;
  --background-color:#E6F1F9;
  --background-black:#343538;
  --text-black-light:#343538;
  --warn-black:#201E1C;
  --black:#282623;
  --grey:#bababa;
  --off-white:#faf8f7;
  --just-white:#fff;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 345px;
  text-align: center;

}
.header--main{
  width: 100%;
  height: 45px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.header--main-menu img{
  width: 24px;
  height: 26px;
}
.header--main-menu ul{
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: right;
  left:calc(100% - 155px);
  width: 140px;
  margin: 5px 5px 5px 5px;
  /* background: linear-gradient(204.96deg, #33B5FF 2.08%, #33B5FF 2.09%, #1474D2 100%); */
  background-color: var(--blue-construtec);
  border-radius: 10px;

}
.header--main-menu:hover ul,ul:hover{
  display: block;

}
.header--main-menu a{
  color: white;
  font-size: 1.6rem;
  line-height: 2.0rem;
  text-decoration: none;
}
.header--main-menu li{
    margin: 5px 10px;
}
.header--main-menu a:hover{
  text-decoration: underline;
}
/*---------------------HEADER-------------------*/
.header--title-container{
  width: 100%;
  min-width: 288px;
  height: 345px;
  margin-top: 10px;
  text-align: center;
  align-self: center;
  background: linear-gradient(204.96deg, #33B5FF 2.08%, #33B5FF 2.09%, #1474D2 100%);
}
.header--title-container h1{
  margin-top: 10px;
  padding: 20px 20px 0px 10px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container h2{
  padding: 0px 20px;
  font-weight: bold;
  line-height: 2.2rem;
  color: var(--just-white);
}
.header--title-container p{
  padding: 0px 20px 10px 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--just-white);
}

.header--title-container .header--button{
  position: absolute;
  left:calc(50% - 118px);
  top: 310px;
  display: block;
  margin-top:10px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border:none;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span{
  display: inline-block;
  width: 8px;
  height: 12px;
  margin-left: 10px;
  background-image: url('/images/icon-arrow-right.svg');
}

.header--title-container img{
  width: 195px;
  height: 130px;
}
/*-------------------SLIDER-------------------*/
.slider{
  overflow: hidden;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 200%;
  animation: cambio 10s infinite alternate;
}
.slider ul:hover{
  animation-play-state: pause;
  cursor:pointer;
}
.slider li{
  width: 100%;
  list-style: none; 
}

@keyframes cambio{
  0%{
    margin-left: 0%;
  }
  45%{
    margin-left: 0%;
  }
  
  50%{
    margin-left: -100%;
  }
  100%{
    margin-left: -100%;
  }
}